.header {
  background: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e8f0;
  position: fixed;
  width: 80%;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e293b;
}

.logo .dot {
  color: #3b82f6;
}

.search input {
  background: #f1f5f9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 250px;
  /* margin-right: 15rem; */
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin-right: 5px ;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile img {
  width: 50px;
  border-radius: 50%;
}

.add-btn {
  background-color: #46439e;
  border: none;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  cursor: default;
}

.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .search-bar {
    display: none;
  }
  .add-btn{
    display: none;
  }
}