.sidebar {
  width: 240px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
 height: fit-content;
}
.sidebar.hide {
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color:cyan;
  margin: 10px;
}

.logo .dot {
  color: #3b5af6;
}

.sidebar.show {
  transform: translateX(0);
}
.sidebar-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #334155;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-top:50px ;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.nav-list li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #475569;
}
.nav-list li a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  color: #475569;
  font-weight: 500;
  padding: 0.5rem 0;
  transition: color 0.2s;
}
.nav-list li a:hover {
  color: #2563eb;
}