
 .upcoming-schedule {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width: 50%;
}

.appointment-list{
  display: flex;
  justify-content: space-around;
}
.upcoming-schedule h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1e293b;
}

.appointment-group {
  margin-bottom: 1.25rem;
}

.appointment-group h4 {
  font-size: 0.95rem;
  color: #475569;
  margin-bottom: 0.5rem;
}



.card-icon {
  background-color: #3b82f6;
  color: white;
  padding: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .upcoming-schedule
  {
    width: 100%;
    flex-wrap: wrap;
  }
}